/* CSS Reset or Normalize */

/* Apply box-sizing to all elements and their pseudo-elements */
* {
	padding: 0px;
	margin: 0px;
	border: none;
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

/* Reset the styling for certain elements to baseline */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Set 100% height for the html and body elements */
html,
body {
	height: 100%;
}

/* Basic styling for the body */
body {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
}

/* Remove text decoration for anchor tags without class */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Set max width for images and make them block-level elements */
img {
	max-width: 100%;
	display: block;
}

/* Inherit font properties for form elements */
input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

/* Remove focus outline for input and button elements */
input,
button {
	&:focus,
	&:active {
		outline: none;
	}
}

/* Set cursor to pointer for buttons and anchor tags */
button,
a {
	cursor: pointer;
}

/* Inherit color and remove text decoration for anchor tags */
a {
	color: inherit;
	text-decoration: none;
}

/* Remove default list-style for unordered and ordered lists */
ul,
li {
	list-style: none;
}

/* Style the scrollbar */
::-webkit-scrollbar {
	width: 4.3px;
	/* Customize scrollbar thumb and track styles */
	&-thumb {
		background: #0080ff94; /* Semi-transparent blue color for the scrollbar thumb */
	}
	&-track {
		background: #cfcfcf61; /* Semi-transparent grey color for the scrollbar track */
	}
}
